:root {
	font-family: var(--font);
	--font: 'Open Sans', sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #d15836;
	--black-color: #000;
	--text-secondary-color: #5b5b5e;
	--white-color: #ffffff;
	--separator-color: #d4d6e0;
}

sidebar {
	font-family: var(--font);
}
